@import "tailwindcss";

/* Paleta Flazic con v4 (@theme) */
@theme {
  --color-flz-teal: #00ACC4;
  --color-flz-yellow: #FEB501;
  --color-flz-yellow-2: #FBBE01;
  --color-flz-purple: #914C8E;
  --color-flz-cream: #FCFAE0;
  --color-flz-ink: #0F172A;
}

/* Base */
:root { color-scheme: light; }
html, body, #root { height: 100%; }
body { @apply bg-flz-cream text-flz-ink antialiased; }

/* Utilidad de contenedor */
.container-responsive { @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8; }
